.custom-navbar {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand-custom {
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s, color 0.3s;
}

.navbar-brand-custom:hover {
  color: #ffdd57 !important;
  transform: scale(1.1);
}

.nav-link, .nav-dropdown{
  color: white;
  font-size: 1.3rem;
}

.dropdown-item {
  color: rgb(0, 0, 0) !important;
}

.nav-link:hover, .nav-dropdown .dropdown-item:hover {
  color: #ffdd57 !important;
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  color: rgb(255, 255, 255);
  right: 0;
  transform: translateY(10px);
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
}

.nav-dropdown:hover .dropdown-menu,
.nav-dropdown:focus-within .dropdown-menu {
  display: block;
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.nav-dropdown .dropdown-toggle::after {
  display: none;
}
