.profile-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f4f4f4;
    border-radius: 10px;
  }
  
  .profile-container h2 {
    text-align: center;
  }
  
  .task-counts, .tasks {
    margin-top: 20px;
  }
  
  .task {
    background-color: #fff;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .delete-account-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    display: block;
    width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .confirmation-popup {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
  }
  
  .confirmation-popup p {
    margin-bottom: 20px;
  }
  
  .confirmation-popup button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
  }
  